$background_header: #32373D;
$background_main: #fcfcfc;
$border_gray: #dee2e6;
$border_blue: #8ABDEB;

$text_black: #212529;
$text_dark: #343a40;
$text_light: #ffffff;
$text_placeholder: #777777;
$text_data: #8a8a8a;
$text_input: #494949;
$close_gray: #828282;

$blue: #007bff;
$blue_hover: #0069d9;
$gray: #6c757d;
$gray_hover: #5a6268;
$green: #28a745;
$green_hover: #218838;
$red: #dc3545;
$red_hover: #c82333;
// $red_disabled: #D67B83;
$yellow: #ffc107;
$yellow_hover: #e0a800;

$blue_focus: rgba(13, 110, 253, 0.25);
$gray_focus: rgba(130, 138, 145, 0.5);
$green_focus: rgba(72, 180, 97, 0.5);
$red_focus: rgba(225, 83, 97, 0.5);
$yellow_focus: rgba(222, 170, 12, 0.5);

$font: 'Segoe UI', sans-serif;
